*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */


/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;
    padding: 15px 5px;

    background-color: white;

    border: 1px solid black;
    /* test */
}

.logo-links{
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    border: 1px dashed black;
    /* test */

}

.logo-links ul, .links-btn ul{
    list-style-type: none;

    border: 1px dashed black;
    /* test */
}

li{
    display: inline-block;
}

li a{
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

.links-btn{
    display: flex;
    justify-content: flex-end;
    gap: 20px;


    border: 1px dashed black;
    /* test */
}

/* Fine navbar */

/* Header */

header{
    width: 100%;
    height: 740px;

    padding-top: 180px;
    margin-bottom: 150px;

    background-color: #B4D0E6;

    border: 1px dashed black;
    /* test */
}

header .container{
    max-width: 1200px;
    height: 620px;

    margin-left: auto;
    margin-right: auto;
    

    border: 1px dashed black;
    /* test */

}

/* Fine header */

/* Main */

.big-container{
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;

}


/* Prima sezione */

.business-plan{
    /* display: flex; */
    width: 100%;

    margin-bottom: 150px;

  

}

.business-plan .title{
    width: 100%;

    margin-bottom: 50px;

    height: 160px;
    border: 1px dashed black;
    background-color: darkred;
    /* test */
}

.business-plan .plans{
    display: flex;
    justify-content: space-between;
    gap: 50px;

    width: 100%;

    margin-bottom: 50px;

}

.professional, .advanced, .enterprise{
    min-width: calc(100% / 3 - 50px * 2);

    height: 950px;
    border: 1px dashed black;
    background-color: grey;
    /* test */
}

.business-plan .contact{
    width: 100%;

    height: 260px;
    border: 1px dashed black;
    background-color: darkred;
    /* test */

}

/* Seconda sezione */

.partner{
    display: flex;
    width: 100%;

    margin-bottom: 150px;

    height: 300px;
    /* test */
}

.partner .column-big{
    flex-grow: 1;

    background-color: grey;
    border: 1px dashed black;
    /* test */
}

.partner .column-small{
    width: 40%;

    background-color: pink;
    border: 1px dashed black;
    /* test */    

}

/* Terza sezione */

.operations{
    width: 100%;

    margin-bottom: 150px;
}

.operations .op-title{
    width: 100%;

    margin-bottom: 50px;

    height: 100px;
    background-color: darkred;
    border: 1px dashed black;
    /* test */
}

.operations .op-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;


    border: 1px solid black;
    /* test */

}

.op-cards .card{
    width: calc(100% / 3 - 50px * 2);

    height: 600px;
    background-color: gray;
    border: 1px dashed black;
    /* test */
}

/* Quarta sezione */

.clients{
    width: 100%;

    margin-bottom: 150px;

    height: 200px;
    background-color: darkred;
    border: 1px dashed black;
    /* test */
}

/* Sezione sponsor */

.container-sponsor{
    display: flex;

    width: 100%;

    height: 600px;
    border: 1px dashed black;
    /* test */
}

.sponsor, .comment{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);

    height: 100%;
    background-color: green;
    border: 1px dashed black;
    /* test */
}

.sponsor div{
    width: calc(100% / 2);
    height: calc(100% / 2);

    background-color: grey;
    border: 1px dashed black;
    /* test */
}

/* Fine sezione sponsor */

/* Sesta sezione */

