*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

body{
    font-family: 'Open Sans', sans-serif;
}


/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 80px;
    padding: 15px 20px;

    background-color: white;
    border-bottom: 1px solid lightgrey;

}

.logo-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

}

.logo-links ul, .links-btn ul{
    list-style-type: none;
}

nav ul{
    display: flex;
    gap: 20px;
}

li a{
    text-decoration: none;
    color: black;
}

nav li:hover{
    font-weight: bold;
}

.links-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}

.btn{
    padding: 10px 15px;

    background-color: #0D61E4;
    transition: 0.3s;
    color: white;
}

.btn:hover{
    opacity: 0.7;
}

nav .btn a{
    text-decoration: none;
    color: white;
}

/* Fine navbar */

.container{
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

/* Header */

header{
    width: 100%;

    padding-top: 130px;
    margin-bottom: 150px;

    background-color: #B4D0E6;

}


header .container{
   
    height: 620px; 

}

h1{
    font-size: 60px;
    margin-bottom: 50px;
}

header .container .jumbotron{
    display: flex;
    width: 100%;
}

header .container .text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;

    width: 30%;
}

header .container .jumbo{
    width: 70%;

}

.jumbo img{
    width: 100%;
    height: 100%;
}

.text button{
    background-color: #0D61E4;
    color: white;
}

header .container .text i{
    font-size: 50px;
    margin-top: 40px;
}




/* Fine header */

/* Main */

.big-container{
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;

}


/* Prima sezione */

.business-plan{
    width: 100%;

    margin-bottom: 150px;
}

.business-plan .title{
    width: 100%;

    margin-bottom: 50px;

}

.business-plan .title h2{
    margin-bottom: 60px;

    font-size: 40px;

}

.business-plan .title input{
    margin: 0px 8px;
    transform: scale(2);
}

.business-plan .title label{
    margin-right: 40px;
}



.business-plan .plans{
    display: flex;
    justify-content: space-between;
    gap: 50px;

    width: 100%;

    margin-bottom: 50px;

}

.professional, .advanced, .enterprise{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-width: calc(100% / 3 - 50px / 3 * 2);

    border: 1px solid grey;
}

.professional div:first-child, .advanced div:first-child, .enterprise div:first-child, .contact .type{
    text-align: center;   
    width: 100%;

    padding: 5px 0px;
    border-bottom: 1px solid grey;
    font-size: 12px;
}

h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.subscription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    padding: 30px 25px;
}

.mg-bottom{
    margin-bottom: 50px;
}


.plans hr{
    width: 20%;
    margin-top: 30px;
}

.subscription .btn{
    width: 100%;
    text-align: center;

    margin-bottom: 30px;
    text-decoration: none;
}

.subscription .fa-check{
    color: #0D61E4;
}



.business-plan .contact{
    width: 100%;

    border: 1px solid grey;
}



.contact .sell-office{
    display: flex;
    width: 100%;

    padding: 30px 25px;
}

.sell-office .col-big{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}

.sell-office .col-small{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.sell-office .col-small .btn{
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: white;

}

/* Seconda sezione */

.partner{
    display: flex;
    width: 100%;

    margin-bottom: 150px;

}

.column-big{
    width: 60%;

}

.column-big img{
    width: 100%;
    height: 100%;
}

.column-small{
    width: 40%;

    padding: 50px;

}

.column-small h3{
    margin-bottom: 15px;

    font-size: 25px;
}

.column-small p{
    margin-bottom: 25px;
}

.column-small .btn{
    width: 160px;

    border-top: 1px solid black;
    border-right: 1px solid black;

    border-left: 2px solid black;
    border-bottom: 2px solid black;

    background-color: white;
    color: black;
    text-decoration: none;
}

/* Terza sezione */

.operations{
    width: 100%;

    margin-bottom: 200px;
}

.operations .op-title{
    width: 100%;
    font-size: 30px;

    margin-bottom: 50px;

}

.operations .op-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

}

.op-cards .card{
    width: calc(100% / 3 - 50px * 2);

}

.card img{
    width: 100%;

}

.card h3{
    margin-bottom: 35px;
}



/* Quarta sezione */

.clients{
    width: 100%;

    margin-bottom: 150px;

}

.clients h2{
    font-size: 40px;

    margin-bottom: 60px;
}

.clients a{
    color: blue;
}

/* Sezione sponsor */

.container-sponsor{
    display: flex;

    width: 100%;
}

.sponsor, .comment{
    
    width: calc(100% / 3);
    height: calc(100vw / 3);

}

.sponsor{
    display: flex;
    flex-wrap: wrap;
}

.sponsor div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% / 2);
    height: calc(100% / 2);

}

.comment{
    padding: 30px 40px;

    background-color: #F5F5F5;
    overflow: auto;
}



.comment img{
    max-width: 280px;
    width: 100%;
    margin-bottom: 40px;
}

.comment hr{
    width: 25%;

    margin-bottom: 40px;
}

.comment p{
    margin-bottom: 50px;
}

.sponsor div img{
    width: 100%;

    transform: scale(0.5);
    filter: invert(100%) sepia(0%) saturate(4405%) hue-rotate(69deg) brightness(117%) contrast(93%);
}

#designit{
    background-color: #A2D39B;
    
}

#asu{
    background-color: #62082B;
}

#uflorida{
    background-color: #0193CE;
}

#topps{
    background-color: #FF1C1D;
}

#wbr{
    background-color: #D50020;
}

#hearst{
    background-color: #B4D0E6;
}

#lonely-planet{
    background-color: #0D2481;
}

#cco{
    background-color: #FFD930;
}

.sponsor div{
    transition: 0.5s;
}

.sponsor div:hover, .sponsor div:active{
    border: 10px solid rgba(255, 255, 255, 0.5);
}

/* Fine sezione sponsor */

/* Sesta sezione */

.free-trial{
    width: 100%;

    padding: 120px 0px;

    background-color: #B4D0E6;

}


.free-trial .big-container{
    display: flex;
    justify-content: space-between;

    height: 100%;
}

.free-trial .column-left{
    width: 60%;
}

.free-trial .column-right{
    width: 40%;
    padding-top: 10px;

}

.column-left h2{
    font-size: 40px;
}

.column-right .btn{
    text-align: center;
    border: 1px solid lightgrey;
    background-color: white;
    
}

.column-right .btn a{
    color: black;
    text-decoration: none;
}




/* Ultima sezione */

.questions{
    width: 100%;

    height: 720px;
    padding-top: 150px;
    padding-bottom: 130px;
    /* test */
}

.questions .big-container h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.questions .big-container .faq{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

.questions .faq i{
    padding-right: 40px;
}


/* Fine main */

/* Inizio footer */

footer{
    width: 100%;


    padding: 100px 0px;

    background-color: black;
}

footer .container .info{
    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;

    color: white;
}

footer .container .language{
    color: gray;   
}

footer .container .info div{
    width: calc(100% / 5);

}

footer .info h3{
    margin-bottom: 25px;
}

footer .info p{
    margin-bottom: 15px;
}

footer hr{
    width: 130px;
    margin-bottom: 40px;

}



